body {
    background-color: rgb(228, 105, 156);
}footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}footer p {
    text-align: center;
}footer p {
    text-align: center;
    font-size: 0.6rem;
}footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}body {
    background-color: rgba(102, 46, 231, 0.651);
    font-family: Bai Jamjuree;
}